In [4]:
import pandas as pd
df = pd.read_csv("CHDdata.csv")
df.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11  Present     49    25.30    97.20   52    1
1  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63    1
2  118     0.08  3.48      32.28  Present     52    29.14     3.81   46    0
3  170     7.50  6.41      38.03  Present     51    31.99    24.26   58    1
4  134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1

In [5]:
df.shape

(462, 10)

In [6]:
# Remove certain columns(famhist, )
df = df.drop("famhist", axis = 1)
df

     sbp  tobacco    ldl  adiposity  typea  obesity  alcohol  age  chd
0    160    12.00   5.73      23.11     49    25.30    97.20   52    1
1    144     0.01   4.41      28.61     55    28.87     2.06   63    1
2    118     0.08   3.48      32.28     52    29.14     3.81   46    0
3    170     7.50   6.41      38.03     51    31.99    24.26   58    1
4    134    13.60   3.50      27.78     60    25.99    57.34   49    1
..   ...      ...    ...        ...    ...      ...      ...  ...  ...
457  214     0.40   5.98      31.72     64    28.45     0.00   58    0
458  182     4.20   4.41      32.10     52    28.61    18.72   52    1
459  108     3.00   1.59      15.23     40    20.09    26.64   55    0
460  118     5.40  11.61      30.79     64    27.35    23.97   40    0
461  132     0.00   4.82      33.41     62    14.70     0.00   46    1

[462 rows x 9 columns]

In [7]:
df = df.drop("typea", axis = 1)
df

     sbp  tobacco    ldl  adiposity  obesity  alcohol  age  chd
0    160    12.00   5.73      23.11    25.30    97.20   52    1
1    144     0.01   4.41      28.61    28.87     2.06   63    1
2    118     0.08   3.48      32.28    29.14     3.81   46    0
3    170     7.50   6.41      38.03    31.99    24.26   58    1
4    134    13.60   3.50      27.78    25.99    57.34   49    1
..   ...      ...    ...        ...      ...      ...  ...  ...
457  214     0.40   5.98      31.72    28.45     0.00   58    0
458  182     4.20   4.41      32.10    28.61    18.72   52    1
459  108     3.00   1.59      15.23    20.09    26.64   55    0
460  118     5.40  11.61      30.79    27.35    23.97   40    0
461  132     0.00   4.82      33.41    14.70     0.00   46    1

[462 rows x 8 columns]

In [8]:
df.isna().sum()

sbp          0
tobacco      0
ldl          0
adiposity    0
obesity      0
alcohol      0
age          0
chd          0
dtype: int64

In [9]:
df.isnull().values.any()

False

In [10]:
df['chd'].value_counts()

0    302
1    160
Name: chd, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.15, random_state = 1)

In [12]:
# from sklearn.ensemble import GradientBoostingClassifier
# from sklearn.ensemble import RandomForestClassifier
# model = RandomForestClassifier()
# model.fit(x_train, y_train)
# acc = model.score(x_test, y_test)
# acc * 100

78.57142857142857

In [13]:
df.shape

(462, 8)

In [14]:
prediction = model.predict([ [100, 64, 56, 50, 45, 43, 7] ])
if (prediction[0] == 0): 
  print("Healthy")
else: 
  print("Has Disease")

Has Disease

In [20]:
import pickle
with open("HeartDiseaseDetectModel.pickle", "wb") as f:
    pickle.dump(model, f)

In [24]:
pickle_in = open("HeartDiseaseDetectModel.pickle", "rb")
model = pickle.load(pickle_in)